@keyframes flash {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
}

/* Tailwind defines `.collapse { visibility: collapse; }`
   This conflicts with Bootstrap's collapse component. */
.collapse,
.collapsing {
    visibility: visible !important;
}